<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/wmaiau4rj0ymi9x7jvbec/signed_com.roblox.robloxmobile_2.697.925_und3fined_1762517131433_nkw612.ipa?rlkey=w53n3fq8ah7dj95c88qe0o8ky&st=df2j50vg&dl=1</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://github.com/1m8ne/ipa-files/blob/main/AppIcon60x60@2x.png?raw=true</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://github.com/1m8ne/ipa-files/blob/main/AppIcon60x60@2x.png?raw=true</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.roblox.robloxmobile</string>
                <key>bundle-version</key>
                <string>2.697.925</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Roblox</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
